.login {
    padding: 20px;
    background-color: #8FBFEE !important;
    box-shadow: 1px  1px 5px black;
}

.head-login {
    font-family: $fontnun;
    color: #8F8FEE;
    text-shadow: .5px 1px black;
    font-weight: 700;
    margin-top: 5px;
}

.sec-log {
    max-width: 300px;
}